################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/src/hellogrpc/HelloGrpc/.vs/HelloGrpc
/src/hellogrpc/HelloGrpc/bin/Debug/netcoreapp3.1
/src/hellogrpc/HelloGrpc/obj
/src/hellogrpc/HelloRpcClient/bin/Debug/netcoreapp3.1
/src/hellogrpc/HelloRpcClient/obj
/src/Services/hellogrpc/.vs/HelloGrpc
/src/Services/hellogrpc/bin/Debug/netcoreapp3.1
/src/Services/hellogrpc/obj
/src/Services/HelloRpcClient/.vs
/src/Services/HelloRpcClient/bin/Debug/netcoreapp3.1
/src/Services/HelloRpcClient/obj
/src/Services/Bank.Api/.vs/Bank.Api/v16
/src/Services/Bank.Api/bin/Debug/netcoreapp3.1
/src/Services/Bank.Api/obj
/src/Services/AccountService/.vs/AccountService/v16
/src/Services/AccountService/bin/Debug/netcoreapp3.1
/src/Services/AccountService/obj
/src/Bank/.vs/Bank
/src/Bank/Account.Api/bin/Debug/net5.0
/src/Bank/Account.Api/obj
/src/Bank/Accounts.Messages/bin/Debug/netstandard2.0
/src/Bank/Accounts.Messages/obj
/src/Bank/Bank.Api/bin/Debug/net5.0
/src/Bank/Bank.Api/obj
/src/Bank/Bank.Domain/bin/Debug/netstandard2.0
/src/Bank/Bank.Domain/obj
/src/Bank/Bank.Messages/bin/Debug/netstandard2.0
/src/Bank/Bank.Messages/obj
/src/Bank/Withdraw.Api/bin/Debug/net5.0
/src/Bank/Withdraw.Api/obj
/src/Bank/Withdraw.Messages/bin/Debug/netstandard2.0
/src/Bank/Withdraw.Messages/obj
/src/Services/.vs
